asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
coverage==7.4.4
Django==4.2.7
django-cors-headers==4.3.1
django-extensions==3.2.3
django-filter==23.4
django-phonenumber-field==7.2.0
django-phonenumbers==1.0.1
django-taggit==5.0.1
djangorestframework==3.14.0
Faker==20.1.0
idna==3.6
phonenumbers==8.13.26
Pillow==10.1.0
psycopg2==2.9.9
pydot==1.4.2
pygraphviz==1.11
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe==8.7.0
typing_extensions==4.8.0
urllib3==2.1.0
uWSGI==2.0.23
